.footer--main {
	display: flex;
    background-color: #313b48;
    font-family: 'lato';
    color: white;
    padding: 80px 100px 80px 145px;
}

.footer--section {

    width: 22%;
    margin-left: 35px;
}

.footer--desc {
	line-height: 25px;
}

.footer--heading {
	margin-top: 0;
    padding: 0 20px;
    border-left: 3px solid #30afb8;
}

.footer--heading::first-letter {
	color: #30afb8;
}

.footer--list {
	padding-left: 25px;
    position:relative;
    list-style-type: none;
}

.footer--link {
	color: white;
    text-decoration: none;
    line-height: 3;
    font-size: 14px;

}

.footer--rlink {
    text-transform: uppercase;
}

.footer--tagcontainer {
	display: flex;
    flex-wrap: wrap;
}

.footer--tagp{
	margin: 12px 4px;
    height: fit-content;
}

.footer--tag {
	color: white;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid;
    padding:5px 12px;;
}
.footer--rlink::before {
	content: "\" /*rtl:"\"*/;
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    padding-top: 3.5px;
    font-size: 12px;
}

.footer--qlink::before {
	content: '\f1db';
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    font-size: 12px;
    padding-top: 4px;
}

.footer--qlink::first-letter {
	text-transform: uppercase;
}