.articlelist--list {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

}

.fa.fa-user {	
    color: #8e8e8e;
    padding: 10px 3px 10px 10px;
    font-size: 12px;
}

.articlelist--item {
	font-family: 'Lato', sans-serif;
}
.articlelist--noimg {

    margin: -100px 0 0 0;

    .articlelist--item {
        padding: 15px 15px 50px 15px;
        max-width: 440px;
    }

    .articlelist--item:nth-child(1) {
        background-color: #21797e;
    }

    .articlelist--item:nth-child(2) {
        background-color: #32b6bf;
    }

    .articlelist--item:nth-child(3) {
        background-color: #35c2cc;
    }

    .articlelist--title {
		    color: white;
    		font-size: 23px;
    }

    .articlelist--desc {
		color: white;

    }

    .articlelist--pagelink {
		text-decoration: none;
        color: white;
        font-weight: 600;
    }

}

.article--container {

}

.articlelist--img {

	.articlelist--item {
		padding: 30px 20px 125px 20px;
        width: 285px
    }

    .articlelist--img {
		width: 285px;
    }

    .articlelist--title {
		color: #313a48;
    	font-size: 22px;
    }

    .articlelist--desc {
		color: #666666;
    	font-size: 15px;
    }

    .articlelist--pagelink {
		text-decoration: none;
        color: #30afb8;
        font-size: 14px;
        font-weight: 600;
    }
}

.articlelist--news {
    .articlelist--item {
        padding: 30px 20px 125px 30px;
		width: 385px;
    }
	  .articlelist--img {
		width: 385px;
    }

    .articlelist--title {
		color: #313a48;
    	font-size: 18px;
    }

    .articlelist--desc {
		color: #666666;
    	font-size: 15px;
    }

    .articlelist--user{
		display: flex;
        background: #f6f6f6;
        max-width: 355px;
        min-height: 30px;


    }

    .articlelist--username {
			margin: 0;
            /* width: 50%; */
            color: #8e8e8e;
            font-size: 12px;
            padding: 7px 5px;
        }

    .articlelist--pagelink {
		font-size: 12px;
        color: #30afb8;
        text-decoration: none;
        padding: 7px 0px 7px 170px;
    }

    .articlelist--imgcontainer {
		    position: relative;
    }

    .articlelist--date {
		    position: absolute;
            top: 0;
            background: #30afb8;
            color: white;
            padding: 10px;
            font-size: 12px;
    }
}

.articlelist--arrow {
	display: inline-block;
    -webkit-transition: transform 0.3s ease-out;
     -moz-transition: transform 0.3s ease-out;
     -ms-transition: transform 0.3s ease-out;
     -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.articlelist--pagelink:hover {
	.articlelist--arrow {
		-webkit-transform: translateX(4px);
       -moz-transform: translateX(4px);
       -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
        transform: translateX(4px);
    }
}