body{
	width:100%;
    height100%;
    margin:0;
    padding:0;
}



    .cmp-navigation {
        display: flex;
    
    }
    
    .cmp-navigation__group {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: flex-end;
        margin: 16px 40px;
    
    }
    
    .cmp-navigation__item-link{
        color: #333333;
        text-decoration: none;
        margin: 0 15px;
        font-size: 17px;
        font-family: 'Lato', sans-serif;
    	position: relative;
    }
    
    .cmp-navigation__item-link:hover{
        color:#35c2cc;
    }

	.cmp-navigation__item-link:hover::before ,.cmp-navigation__item-link:hover::after {
  		width: 50%;
	}

	.cmp-navigation__item-link::before,.cmp-navigation__item-link::after{
		  content: "";
          bottom: 0;
          width: 0px;
          height: 2px;
          display: block;
          position: absolute;
          background-color: #35c2cc;
          -webkit-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;  
	}

	.cmp-navigation__item-link::before { right: 50%; }

	.cmp-navigation__item-link::after {left: 50%;}

	.navigation--logo {
		margin: 15px 40px;
	}
